@model aspnet_store.Models.ViewModels.OrdemCompraViewModels.OrdemCompraViewModel

@{
    ViewBag.Title = "Cadastrar Ordem de Compra";
}

<h1>Cadastrar Ordem de Compra</h1>

<form asp-action="Add" method="post">
    <div class="form-group mt-3">
        <label class="form-label">Fornecedor</label>
        <div class="input-group">
            <input type="text" class="form-control rounded-end" asp-for="FornecedorNome" id="fornecedorNome" readonly disabled />
            <input type="hidden" asp-for="FornecedorId" id="fornecedorId" />
            <span asp-validation-for="FornecedorId" class="text-danger"></span>
            <div class="input-group-append">
                <button class="btn btn-outline-primary rounded-start" type="button" data-bs-toggle="modal" data-bs-target="#fornecedorModal" style="margin-left: 10px">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group mt-3">
        <label class="form-label">Data de Cadastro</label>
        <input type="date" class="form-control" asp-for="DataCadastro" readonly />
        <span asp-validation-for="DataCadastro" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label class="form-label">Pedidos de Produto</label>
        <div>
            @for (int i = 0; i < Model.PedidosProduto.Count; i++)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedPedidoProdutoIds" value="@Model.PedidosProduto[i].Id" />
                    <label class="form-check-label">
                        Produto: @Model.PedidosProduto[i].Produto.Nome - Quantidade: @Model.PedidosProduto[i].Quantidade - Preço: @Model.PedidosProduto[i].Produto.PrecoUnitario.ToString("C")
                    </label>
                </div>
            }
            <span asp-validation-for="SelectedPedidoProdutoIds" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mt-3">
        <label class="form-label">Pedidos de Serviço</label>
        <div>
            @for (int i = 0; i < Model.PedidosServico.Count; i++)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedPedidoServicoIds" value="@Model.PedidosServico[i].Id" />
                    <label class="form-check-label">
                        Serviço: @Model.PedidosServico[i].Servico.Descricao - Preço: @Model.PedidosServico[i].Servico.Preco.ToString("C")
                    </label>
                </div>
            }
            <span asp-validation-for="SelectedPedidoServicoIds" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="fornecedorModal" tabindex="-1" aria-labelledby="fornecedorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fornecedorModalLabel">Selecione um Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fornecedor in Model.Fornecedores)
                        {
                            <tr onclick="selectFornecedor('@fornecedor.Id', '@fornecedor.Nome')" style="cursor: pointer;" data-bs-dismiss="modal">
                                <td>@fornecedor.Id</td>
                                <td>@fornecedor.Nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dataInicialInput = document.getElementById('dataInicial');
            const dataFinalInput = document.getElementById('dataFinal');
            const dateSpanInput = document.getElementById('dateSpan');

            function calculateDateSpan() {
                const dataInicial = dataInicialInput.value;
                const dataFinal = dataFinalInput.value;

                if (dataInicial && dataFinal) {
                    const startDate = new Date(dataInicial);
                    const endDate = new Date(dataFinal);

                    const timeSpan = endDate - startDate;
                    const daysDifference = timeSpan / (1000 * 3600 * 24);

                    dateSpanInput.value = daysDifference;
                } else {
                    dateSpanInput.value = '';
                }
            }

            dataInicialInput.addEventListener('change', calculateDateSpan);
            dataFinalInput.addEventListener('change', calculateDateSpan);
        });

        function selectFornecedor(id, nome) {
            document.getElementById('fornecedorId').value = id;
            document.getElementById('fornecedorNome').value = nome;
        }
    </script>
}
